* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
@font-face {
  font-family: jianxie;
  src: url(../PingFang\ Regular.ttf);
}
body {
  font: 16px/1.5;
  font-family: jianxie;

  color: #333;
}
a {
  color: #333;
  text-decoration: none;
}
/* 去除input里面的边框线 */
input {
  border: 0;
  outline: none;
}
/* 字体不倾斜 */
i {
  font-style: normal;
}
